.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Inter;
}

form {
  /* padding: 5px 0px; */
  width: 400px;
}

small {
  color: red;
}
input {
  outline: none;
  padding: 8px 15px;
  border-radius: 5px;
  width: 90%;
}
label {
  font-weight: bold;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  padding: 8px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
}
